PORT=
APP_ENV=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SCHEMA=

INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

CLERK_SECRET_KEY=

# ChirpStack Configuration
CHIRPSTACK_API_URL=
CHIRPSTACK_API_TOKEN=
CHIRPSTACK_APPLICATION_ID=
CHIRPSTACK_DEVICE_PROFILE_ID=